[user]
	name = Breno Panzolini
	email = bpanzolini@gmail.com

[core]
	excludesfile = ~/.gitignore_global

[commit]
  gpgsign = true

[alias]
	st = status
	ci = commit
	ph = push origin HEAD
	pum = pull origin master
	fu = fetch origin
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
[github]
	user = brenopanzolini
